*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
}


body{
    background-color: #e6e6e6;
    font-family: 'Raleway', 'Roboto', sans-serif;
}

.header-img-spacing{
    text-align: right;
}

.header-img{
    width: 20%;
    margin-top: 2.5%;
    margin-left: 5%;
}

.hero{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    text-align: center;
}

.container{
  margin-bottom: 2.5%;
}

.container b h1 {
  font-weight: bold;
}


/* Style for the container that holds the video and button */
.video-container {
    position: relative;
    width: 100%;
}



/* Style for the button */
.next-button {
    width: 100%; /* Stretch the button to the full width of the container */
    text-align: center; /* Center-align the button text */
    margin-top: 10px; /* Add spacing between video and button */
}

/* Additional button styles as needed */
.button {
    padding: 10px 20px;
    background-color: #007BFF; /* Change to your preferred button color */
    color: #e6e6e6;; /* Text color */
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

/* Hover effect for the button */
.button:hover {
    background-color: #0056b3; /* Change to a slightly different color on hover */
}


iframe{
    border-radius: 20px;
}

h1{
    font-size: 60px;
    margin-bottom: 2.5%;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway' 'Roboto', sans-serif;
}

h1 b {
    font-weight: 900;
}


/* Style for the button */
.next-button-2 {
  display: block; /* Make the button a block element to stretch horizontally */
  width: 100%; /* Stretch the button to the full width of the container */
  text-align: center; /* Center-align the button text */
  margin-top: 10px; /* Add spacing between video and button */
}

/* Additional button styles as needed */
.button-2 {
  padding: 10px 20px;
  background-color: #f5f5f5; /* Change to your preferred button color */
  color: black; /* Text color */
  font-size: 18px;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  border: none; /* Remove the border */
}



/* Styles for screens with a max width of 1400px */
@media screen and (max-width: 1400px) {
  .header-img {
      width: 30%;
  }
  
  h1 {
      font-size: 48px;
      margin-bottom: 2%;
  }

  .next-button h1 {
      font-size: 28px;
  }
}

/* Styles for screens with a max width of 767px */
@media screen and (max-width: 767px) {
   /* .header-img {
      width: 50%;
      margin-top: 5%;
      margin-left: 2.5%;
  } */
  
  .header-text {
      font-size: 25px;
      margin-bottom: 2%;
  }



  .next-button h1 {
      font-size: 20px;
  }

  .button-text{
    font-size: 20px;
  }

  .button {
      font-size: 14px;
  } 

}




/* Styles for screens with a max width of 1400px */
@media screen and (max-width: 500px) {
  .header-img {
      width: 30%;
  }
  
  h1 {
      font-size: 20px;
      margin-bottom: 2%;
  }

  .next-button h1 {
      font-size: 20px;
  }

  .header-text {
    font-size: 20px;
    margin-bottom: 2%;
  }

  .next-button h1 {
      font-size: 14px;
  }

  .button-text{
    font-size: 14px;
  }

  .button {
      font-size: 7px;
  } 
}

/* Styles for screens with a max width of 767px */
@media screen and (max-width: 200px) {
   /* .header-img {
      width: 50%;
      margin-top: 5%;
      margin-left: 2.5%;
  } */
  
  .header-text {
      font-size: 25px;
      margin-bottom: 2%;
  }



  .next-button h1 {
      font-size: 20px;
  }

  .button-text{
    font-size: 20px;
  }

  .button {
      font-size: 14px;
  } 

}









